In [1]:
import pandas as pd
BIGMERGE = pd.read_csv('iowa_gist.csv', index_col='Unnamed: 0')

In [2]:
BIGMERGE.columns

Index(['Year', 'Month', 'Store Number', 'Bottle Volume (ml)', 'Bottles Sold',
       'Sale (Dollars)', 'Volume Sold (Liters)', 'Volume Sold (Gallons)',
       'City', 'State Bottle Cost', 'State Bottle Retail', '2010_pop',
       '2015_pop_est', '2016_pop_est', 'Monthly Stores in City',
       'Pop per Store'],
      dtype='object')

In [3]:
BIGMERGE.head()

,Year,Month,Store Number,Bottle Volume (ml),Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),City,State Bottle Cost,State Bottle Retail,2010_pop,2015_pop_est,2016_pop_est,Monthly Stores in City,Pop per Store
0,2015,1,2106,354975.0,7580.0,109795.48,7116.85,1880.39,CEDAR FALLS,10.910821,16.373538,39260.0,41345.0,41390.0,17,2432.058824
1,2015,1,2113,116750.0,571.0,7685.86,566.74,149.68,GOWRIE,10.519421,15.791818,1037.0,989.0,981.0,2,494.500000
2,2015,1,2130,279925.0,4831.0,71307.51,4338.05,1146.09,WATERLOO,10.685786,16.030669,68406.0,68414.0,67934.0,46,1487.260870
3,2015,1,2152,123500.0,477.0,5746.27,484.86,128.07,ROCKWELL,8.849407,13.290678,1039.0,1011.0,1012.0,2,505.500000
4,2015,1,2178,183425.0,1500.0,17970.36,1454.70,384.29,WAUKON,9.507184,14.292989,3897.0,3743.0,3733.0,3,1247.666667